html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.4;
    font-size: 18px;

    /* a supprimer */
    height: 3000px;
}

.backToTop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none; 
    background-color: rebeccapurple;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.backToTop--show{
    display: inline;
}