body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

.slider{
    margin: 50px;
}

.slider__list{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.slider__el{
    display: flex;
    justify-content: space-between;
    align-items: center;


    >:first-child{
        margin-right: -5%;
    }
    >:last-child{
        margin-left: -5%;
    }
}

.slider__content{
    background-color: antiquewhite;
    padding: 15px;
    width: 45%;
    z-index: 1;
}

.slider__img{
    max-width: 60%;
    height: auto;
}

footer{
    margin: 50px;
}