body {
    font-family: sans-serif;
}


.tab__nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding : 0;
}

.tab__el--active a {
    background-color: orange;
}

.tab__content {
    display:none;
}

.tab__content--active {
    display:block;
}